@import url('//fonts.googleapis.com/css?family=Varela+Round');
@import url('//fonts.googleapis.com/css?family=Inconsolata');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  font-family: 'Varela Round', sans-serif;
  background-color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  text-align: center;
  border-bottom: 1px solid #f0f0f0;
  padding: 0 3em;
  margin-bottom: 1em;
}

.header a:link,
.header a:visited {
  color: #333;
  text-decoration: none;
}

.body {
  display: flex;
  flex-direction: column;
  padding: 0 3em;
}

.body h2,
.body h3,
.body h4,
.body h5,
.body h6 {
  color: #003366;
  font-weight: bold;
}

.body a:link,
.body a:visited {
  color: #333;
  text-decoration: none;
}

.row {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-bottom: 1em;
}

.cards {
  flex: 0 0 auto;
  padding: 0 1em;
  margin-right: 1em;
  width: 30%;
  border: 1px solid #f0f0f0;
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.8);
}

.footer {
  text-align: center;
  padding: 1em;
  border-top: 1px solid #f0f0f0;
}

.footer a:link,
.footer a:visited {
  color: #333;
  text-decoration: none;
}
